<div class="row body">
    <div class="col-lg-2" *ngIf="showHideSideBar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10">
        <!-- [] = je recois un objet Input() showHideSideBar recoit l'objet showSideBar
        () = j'envois un objet Output() showSideBarChange prend la valeur de oneShowSideBarCHange
    $event = ouvre l'envelope et prend moi ce qu'il y a dedans en parametre de la fonction-->
        <app-navbar [showSideBar] = "showHideSideBar"
        
        (showSideBarChange)="onShowSideBarChange($event)">
        </app-navbar>
        <app-content></app-content>
    </div>
</div>